---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import TransformSection from "../components/TransformSection.astro";
import SocialProof from "../components/SocialProof.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Prove - Validate your startup idea">
  <Navbar />
  <main class="flex-1 pt-16">
    <Hero />
    <TransformSection />
    <SocialProof />
  </main>
  <Footer />
</Layout>
